[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=
Exec=/home/ubuntu/bin/eclipse
Icon=
Path=/home/ubuntu
Terminal=false
StartupNotify=false
