[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=
Exec=/usr/local/eclipse/eclipse
Icon=
Path=/home/ubuntu
Terminal=false
StartupNotify=false
